body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}
button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}
/* ------------------Header---------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    
    ),
    url(/images/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1440px;
}
 


.header-container {
  display: flex;
  align-items: center;
  mar
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 130px;
}

.nav-list {
  display: flex;
  gap: 30px;
}
.header-link,
.header-link-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
.header-link-item {
  color: #ff6c00;
}
.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.nav-item + .nav-item {
  margin-left: 30px;
}

.nav-title,
.nav-title-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.contact-number {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  
}

.contact-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 43px;
  background-color: gray;
  margin-right: 30px;
}
.contacts-container {
  
}

/* --------------HERO------------- */

.hero-wrap {
  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    
    ),
    url(/images/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1440px;
}

.hero-container {
  display: flex;
 
}
 

.hero-list {
  width: 100px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
  text-decoration: none;
}
.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-wrap {
  background-color: gray;
  flex-grow: 1;
  padding: 272px 100px 208px;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}
.about-btn {
  color: #303030;
}

/* ---------ABOUT------------- */
.about {
}
.about-container {
  padding-bottom: 120px;
  padding-top: 120px;
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-wrap {
  max-width: 470px;
}

.about-item {
}
.about-pre-title {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
.about-after-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px;
  line-height: 1.67;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

.about-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}
/* SERVICES AND PRICES */
.prices {
  background-color: #303030;
}
.price-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.price-pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-item {
  display: flex;
  justify-content: space-between;
}
.prices-item + .prices-item {
  margin-top: 20px;
}

.service,
.service-price {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: #ffffff;
}
/* -----------FEATURES-------------- */
.features-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
  color: #303030;
  
}
.features-list {
  display: flex;
}

.features-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  border: 1px solid #000000;
  background: #F7F7F7;
}
.features-name {
 
  color: #303030;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

}
.features-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  margin-bottom: 20px;
}

.features-title {
  width: 430px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
.features-text {
  font-size: 18px;
  line-height: 1.67;
  color: #555555;
  width: 500px;
}
.benefits-text{
 text-align: end;
}
/* ------------OUR BARBERS-------------- */
.barbers {
  
  }
  .barbers-container{
    padding-top: 120px;
    padding-bottom: 120px;
  }

.barbers-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.barbers-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers-item-wrap {
  padding-top: 30px;
}
.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;

  
}
.barbers-descr {

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
/* PHOTOS */
.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-pre-title {
  margin-bottom: 44px;
  
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
}
.portfolio-item {
  width: calc((100% - 90px) / 4);
}
/* Online booking */
.online-booking {
  background-color: #524a45;
}
.online-booking-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* --------CONTACTS----------- */

.contacts {
  background-color: #524a45;
}
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.adress {
}

.adress-item {
}
.adress-tel,
.adress-mail,
.adress-street {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.adress-hours {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #ffffff;
}
.adress-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
/* --------FOOTER------------ */
.footer {
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}
.footer-list {
}
.footer-item {
}
.footer-icon {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
