.body {
  font-family: "Open Sans" sans-serif;
  letter-spacing: 0.2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

/* ------------------Header---------------- */
.container {
  width: 1170px;
  padding-left: 215px;
  padding-right: 215px;
  margin: 0 auto;

  outline: 2px solid red;
}
.header {
  background-color: #524a45;
}
.nav {
  background-color: #524a45;
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  text-align: center;
}

.nav-item + .nav-item {
  margin-left: 30px;
}
.nav-title,
.nav-title-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
.nav-title-item {
  color: #ff6c00;
}
.contact-number,
.contact-button {
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
.contact-button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  margin-left: 43px;

  letter-spacing: 0.09em;
  background-color: #524a45;
  cursor: pointer;
}
.contacts-container {
 
}

.social-media {
}
.social-media-list {
}
.social-media-item {
}
.youtube,
.instagram {
  font-family: inherit;
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.instagram {
  color: #ff6c00;
}
/* --------------HERO------------- */

.hero {
  background-color: #303030;
}
.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
/* ---------ABOUT------------- */
.about {
}
.about-list {
}
.about-item {
}
.about-pre-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  color: #555555;
}
.about-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}
/* SERVICES AND PRICES */
.price {
  background-color: #555555;
}
.price-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price-item {
}
.service,
.service-price {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.price-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: #303030;
}
/* -----------FEATURES-------------- */
.features span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}
.features-list {
}
.list {
}
.features-item {
}
.features-name,
.features-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.features-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
.features-text {
  font-size: 18px;
  line-height: 1.67;
  color: #555555;
}
/* ------------OUR BARBERS-------------- */
.barbers {
}
.barbers-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.barbers-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
.barbers-list {
}

.barbers-item {
}
.barbers-name {
  font-size: 18px;
  line-height: 1.39;
  color: #303030;
}
.barbers-descr {
  font-size: 14px;
  line-height: 1.36;
  color: #ff6c00;
}
/* PHOTOS */
.portfolio {
}
.portfolio-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.portfolio-list {
}
.portfolio-item {
}
/* Online booking */
.online-booking {
  background-color: #524a45;
}
.online-booking-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* --------CONTACTS----------- */

.contacts {
  background-color: #524a45;
}
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.adress {
}

.adress-item {
}
.adress-tel,
.adress-mail,
.adress-street {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.adress-hours {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #ffffff;
}
.adress-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
/* --------FOOTER------------ */
.footer {
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}
.footer-list {
}
.footer-item {
}
.footer-icon {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
